<form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
    <input type="text" id="fullName" name="fullName" formControlName="fullName">
    <input type="text" id="mobileNumber" name="mobileNumber" formControlName="mobileNumber">
    <input type="text" id="email" name="email" formControlName="email">
    <input type="text" id="address" name="address" formControlName="address">
    <input type="text" id="area" name="area" formControlName="area">
    <input type="text" id="pincode" name="pincode" formControlName="pincode">
    <select name="pickupDay" id="pickupDay" formControlName="pickupDay">
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Wednesday">Wednesday</option>
    </select>

    <select name="pickupTimeSlot" id="pickupTimeSlot" formControlName="pickupTimeSlot">
        <option value="3 pm - 9 pm">3 pm - 9 pm</option>
    </select>

    <select name="packageId" id="packageId" formControlName="packageId">
        <option *ngFor="let m of packages" [value]="m.id">{{m.name}}</option>
    </select>

    <button type="submit">Submit</button>
</form>